<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <strong><a class="navbar-brand" <%= link_to t(".weblog"), root_path %></a></strong>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to t(".home"), root_path %></li>
          <li><%= link_to t(".user"), users_path %></li>
          <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile"), current_user %></li>
              <li><%= link_to t(".settings"), edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".signin"), new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
